<div class="container pt-100 mb-5 mt-5">
  <div class="row">
    <div class="col-md-2"><side-bar></side-bar></div>
    <div class="col-md-10">
      <div class="mt-4">
        <div class="row featurette">
          <div class="col-md-5 order-md-1">
            <img
              class="featurette-image img-fluid mx-auto"
              data-src="holder.js/500x500/auto"
              src="{{ character.image }}"
              alt="{{ character.name }}"
              data-holder-rendered="true"
              style="width: 500px; height: auto"
            />
          </div>
          <div class="col-md-5 order-md-2 mt-4">
            <h5 class="featurette-heading">{{ character.name }}</h5>
            <p><strong>Status: </strong>{{ character.status }}</p>
            <p><strong>Species: </strong>{{ character.species }}</p>
            <p><strong>Gender: </strong>{{ character.gender }}</p>
            <p><strong>Type: </strong>{{ character.type }}</p>
            <p><strong>Origin Name: </strong> {{ character.origin.name }}</p>
            <p>
              <strong>Location Name: </strong> {{ character.location.name }}
            </p>

            <p>
              <strong>Created Time: </strong
              >{{ character.created | date : "yyyy-MM-dd" }}
            </p>
            <p><strong>Episode: </strong></p>
            <div class="row d-flex mt-2">
              <div *ngFor="let episode of character.episode; let i = index">
                <a href="{{ episode }}" target="_blank" class="episode-button"
                  >Ep {{ i + 1 }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
