<!-- <div class="app">
  <div class="container">
    <div class="card d-flex flex-wrap co-md-12">
      <div class="title">Rick and Morty</div>
      <div class="search-wrapper">
        <div class="col-md-1">
          <h6>Filter Characters:</h6>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input id="search-field" type="text" placeholder="Name" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input id="search-field" type="text" placeholder="Type" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control form-control-lg">
              <option>Status</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control form-control-lg">
              <option>Gender</option>
            </select>
          </div>
        </div>
        <button type="button" class="btn btn-primary">Search</button>

        <button type="button" class="btn btn-danger">Delete</button>
      </div>
      <div class="reviews-list">
        <div class="review-card">
          <div class="review-header">
            <div class="name-group">
              <div class="initials">A</div>
              <p>Alice Banks</p>
            </div>
            <div class="rating">
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
            </div>
          </div>
          <div class="review-description">
            The device has a clean design, and the metal housing feels sturdy in
            my hands. Soft rounded corners make it a pleasure to look at.
          </div>
          <div class="review-details">
            <div class="review-date">Feb 13, 2021</div>
            <div class="share-group">
              <i class="fas fa-share-alt"></i>
              <p>Share</p>
            </div>
          </div>
        </div>
        <div class="review-card">
          <div class="review-header">
            <div class="name-group">
              <div class="initials">A</div>
              <p>Alice Banks</p>
            </div>
            <div class="rating">
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
            </div>
          </div>
          <div class="review-description">
            The device has a clean design, and the metal housing feels sturdy in
            my hands. Soft rounded corners make it a pleasure to look at.
          </div>
          <div class="review-details">
            <div class="review-date">Feb 13, 2021</div>
            <div class="share-group">
              <i class="fas fa-share-alt"></i>
              <p>Share</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container pt-100 mb-5 mt-5">
  <div class="row col-md-12">
    <side-bar></side-bar>
    <filter></filter>
  </div>
</div>
