
<!-- <div class="app">
  <div class="container">
    <div class="card d-flex flex-wrap co-md-12">
      <div class="title">Rick and Morty</div>
      <div class="search-wrapper">
        <div class="col-md-1">
          <h6>Filter Characters:</h6>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input id="search-field" type="text" placeholder="Name" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input id="search-field" type="text" placeholder="Type" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control form-control-lg">
              <option>Status</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control form-control-lg">
              <option>Gender</option>
            </select>
          </div>
        </div>
        <button type="button" class="btn btn-primary">Search</button>

        <button type="button" class="btn btn-danger">Delete</button>
      </div>
      <div class="reviews-list">
        <div class="review-card">
          <div class="review-header">
            <div class="name-group">
              <div class="initials">A</div>
              <p>Alice Banks</p>
            </div>
            <div class="rating">
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
            </div>
          </div>
          <div class="review-description">
            The device has a clean design, and the metal housing feels sturdy in
            my hands. Soft rounded corners make it a pleasure to look at.
          </div>
          <div class="review-details">
            <div class="review-date">Feb 13, 2021</div>
            <div class="share-group">
              <i class="fas fa-share-alt"></i>
              <p>Share</p>
            </div>
          </div>
        </div>
        <div class="review-card">
          <div class="review-header">
            <div class="name-group">
              <div class="initials">A</div>
              <p>Alice Banks</p>
            </div>
            <div class="rating">
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
              <i id="one" class="fas fa-star"></i>
            </div>
          </div>
          <div class="review-description">
            The device has a clean design, and the metal housing feels sturdy in
            my hands. Soft rounded corners make it a pleasure to look at.
          </div>
          <div class="review-details">
            <div class="review-date">Feb 13, 2021</div>
            <div class="share-group">
              <i class="fas fa-share-alt"></i>
              <p>Share</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container  pt-100 mb-5 mt-5">
    <div class="row col-md-12">
      
      <side-bar></side-bar>
      <!-- <filter></filter> -->
      <div class="col-9">
        <div class="row">
          <div class="container">
            <div class="container">
              <h5>Filter Characters</h5>
              
              <div class="row">
                <div class="col-md-3">
                  <input type="text" placeholder="Name" [(ngModel)]="filterOptions.name" />
                </div>
                <div class="col-md-3">
                  <input type="text" placeholder="Species" [(ngModel)]="filterOptions.species" />
                </div>
                <div class="col-md-3">
                  <select class="form-select" [(ngModel)]="filterOptions.status">
                    <option value="">Select Status</option>
                    <option *ngFor="let statusOption of statusOptions" [value]="statusOption">{{ statusOption }}</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <input type="text" placeholder="Gender" [(ngModel)]="filterOptions.gender" />
                </div>
                <div class="col-md-3">
                  <select class="form-select" [(ngModel)]="filterOptions.gender">
                    <option value="">Select Gender</option>
                    <option *ngFor="let genderOption of genderOptions" [value]="genderOption">{{ genderOption }}</option>
                  </select>
                </div>
                <div class="col-md-3 mt-2">
                  <button (click)="filterCharacters()">Search</button>
                  <button class="clear-button" (click)="clearFilters()">Clear</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let character of filteredCharacters">
            <div class="col-md-4 mt-5">
              <div class="card mb-3">
                <img [src]="character?.image" [alt]="character.name" />
                <div class="card-body">
                  <h4>{{ character.name }}</h4>
                  <p class="mb-0">
                    <strong>Status: </strong>{{ character?.status }}
                  </p>
                  <p><strong>Species: </strong>{{ character?.species }}</p>
                  <p><strong>Gender: </strong>{{ character?.gender }}</p>
                </div>
                <div class="card-footer text-center w-100">
                  <button
                    class="btn btn-primary btn-sm"
                    [routerLink]="['/character-detail', character.id]"
                  >
                    <i class="bi-arrow-right"></i>
                    <span class="card-detail-btn">Details</span>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  