<div class="container pt-100 mb-5 mt-5">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <button href="#" class="list-group-item list-group-item-action" routerLink="/"><i class="bi-people"></i> character</button>

      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h4 class="featurette-heading">{{character.name}}</h4>
            <p><strong>Status: </strong>{{character.status}} <br>
              <strong>Species: </strong>{{character.species}}<br>
              <strong>Gender: </strong>{{character.gender}} <br>
              <strong>Type: </strong>{{character.type}} <br>
              <strong>Origin Name: </strong> <a href="{{character.origin.url}}" target="_blank">{{character.origin.name}}</a> <br>
              <strong>Location Name: </strong> <a href="{{character.location.url}}" target="_blank">{{character.location.name}}</a> <br>
              <strong>Episode: </strong> <br>

              <strong>Url: </strong> <a href="{{character.url}}" target="_blank">Link</a> <br>
              <strong>Created Time: </strong>{{character.created}}<br>

            </p>
            <div class="d-flex" *ngFor="let episode of character.episode">
              <a href="{{episode}}" target="_blank">Episode Link</a> <br>
            </div>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{{character.image}}" alt="{{character.name}}" data-holder-rendered="true" style="width: 500px; height: auto;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>