@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,900&display=swap");
body {
  background-color: hsl(0, 0%, 30%);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-size: 1.4rem;
}
p {
  font-size: 0.9rem;
}
a {
  color: var(--light);
  &:hover {
    color: var(--secondary);
  }
}
h5 {
  font-size: 1.1rem;
}

.card {
  border: 0px;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  will-change: transform, box-shadow;
  margin-bottom: 1rem;
  background-color: #171723eb;
  &:hover {
    transform: translateY(-10px);
    border: 1px solid rgb(206 212 218 / 15%);
  }
  .card-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .card-detail-btn {
    width: 160px;
    height: 35px;
  }

  .card-body {
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 0.15rem;
    height: 100%;
  }
  .card-footer {
    border: 0px;
    background-color: #171723eb;
    font-size: 0.85rem;
    color: var(--secondary);
    padding-bottom: 1.25rem;
  }
}
input {
  background-color: transparent;
  color: #c4c4c4;
  width: 100%;
}
.form-control {
  border: 1px solid #ced4da7d;
}
.form-control:focus {
  color: #ffffffcf;
  background-color: transparent;
  border-color: #ffffffcf;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.custom-select {
  border: 1px solid #ced4da7d;
  background-color: transparent;
  color: #c4c4c4;
  width: 100%;
}
