<div class="container">
  <div class="container">
    <div class="row">
      <div class="pr-0 pl-0 mr-2 mt-2">
        <h6><strong>Filter Characters:</strong></h6>
      </div>
      <div class="pr-0 pl-0 mr-2">
        <input
          class="form-control"
          type="text"
          placeholder="Name"
          [(ngModel)]="filterOptions.name"
        />
      </div>
      <div class="mr-2">
        <input
          class="form-control"
          type="text"
          placeholder="Species"
          [(ngModel)]="filterOptions.species"
        />
      </div>
      <div class="col-md-2 pr-0 pl-0 mr-2">
        <select class="custom-select" [(ngModel)]="filterOptions.status">
          <option value="">Status</option>
          <option
            *ngFor="let statusOption of statusOptions"
            [value]="statusOption"
          >
            {{ statusOption }}
          </option>
        </select>
      </div>
      <div class="col-md-1 pr-0 pl-0 mr-2">
        <select class="custom-select" [(ngModel)]="filterOptions.gender">
          <option value="">Gender</option>
          <option
            *ngFor="let genderOption of genderOptions"
            [value]="genderOption"
          >
            {{ genderOption }}
          </option>
        </select>
      </div>
      <div class=" ">
        <button (click)="filterCharacters()" class="btn btn-primary">
          Search
        </button>
        <button
          class="clear-button"
          (click)="clearFilters()"
          class="btn btn-danger ml-2"
        >
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- <character-cards></character-cards> -->
  <ng-container *ngFor="let character of filteredCharacters">
    <div class="col-md-4 mt-5">
      <div class="card mb-3">
        <img [src]="character?.image" [alt]="character.name" />
        <div class="card-body">
          <h4>{{ character.name }}</h4>
          <p class="mb-0"><strong>Status: </strong>{{ character?.status }}</p>
          <p><strong>Species: </strong>{{ character?.species }}</p>
          <p><strong>Gender: </strong>{{ character?.gender }}</p>
        </div>
        <div class="card-footer text-center w-100">
          <button
            class="btn btn-primary btn-sm"
            [routerLink]="['/character-detail', character.id]"
          >
            <i class="bi-arrow-right"></i>
            <span class="card-detail-btn">Details</span>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
