<div class="app">
  <div class="container">
    <div class="card d-flex flex-wrap co-md-12">
      <div class="title">Rick and Morty</div>
      <div class="search-wrapper">
        <div class="col-md-1">
          <h6>Filter Characters:</h6>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input id="search-field" type="text" placeholder="Name" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input id="search-field" type="text" placeholder="Type" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control form-control-lg">
              <option>Status</option>
            </select>
          </div>
        </div>
		<div class="col-md-2">
			<div class="form-group">
			  <select class="form-control form-control-lg">
				<option>Gender</option>
			  </select>
			</div>
		  </div>
			<button type="button" class="btn btn-primary">Search</button>
		  
			<button type="button" class="btn btn-danger">Delete</button>
		  
		</div>
        <div class="tags-wrapper">
          <div class="tags-header">Tags</div>
          <div class="tags-container">
            <div class="tag">Experience</div>
            <div class="tag">Quality</div>
            <div class="tag selected">Design</div>
            <div class="tag">Size</div>
            <div class="tag">Features</div>
            <div class="tag">Value</div>
            <div class="tag">Replacement</div>
          </div>
        </div>
        <div class="reviews-list">
          <div class="review-card">
            <div class="review-header">
              <div class="name-group">
                <div class="initials">A</div>
                <p>Alice Banks</p>
              </div>
              <div class="rating">
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
              </div>
            </div>
            <div class="review-description">
              The device has a clean design, and the metal housing feels sturdy
              in my hands. Soft rounded corners make it a pleasure to look at.
            </div>
            <div class="review-details">
              <div class="review-date">Feb 13, 2021</div>
              <div class="share-group">
                <i class="fas fa-share-alt"></i>
                <p>Share</p>
              </div>
            </div>
          </div>
          <div class="review-card">
            <div class="review-header">
              <div class="name-group">
                <div class="initials">A</div>
                <p>Alice Banks</p>
              </div>
              <div class="rating">
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
                <i id="one" class="fas fa-star"></i>
              </div>
            </div>
            <div class="review-description">
              The device has a clean design, and the metal housing feels sturdy
              in my hands. Soft rounded corners make it a pleasure to look at.
            </div>
            <div class="review-details">
              <div class="review-date">Feb 13, 2021</div>
              <div class="share-group">
                <i class="fas fa-share-alt"></i>
                <p>Share</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-100 mb-5 mt-5">
    <div class="row">
      <div class="col-3">
        <div class="list-group card">
          <button
            href="#"
            class="list-group-item list-group-item-action"
            routerLink="/"
          >
            <i class="bi-people"></i> Characters
          </button>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="container">
            <div class="container">
              <h5>Filter Characters</h5>
              <div class="row">
                <div class="col-md-3">
                  <input
                    [(ngModel)]="filterOptions.name"
                    (input)="filterCharacters()"
                    placeholder="Name"
                  />
                </div>
                <div class="col-md-3">
                  <input
                    [(ngModel)]="filterOptions.species"
                    (input)="filterCharacters()"
                    placeholder="Type"
                  />
                </div>

                <div class="col-md-3">
                  <input
                    [(ngModel)]="filterOptions.status"
                    (input)="filterCharacters()"
                    placeholder="Status"
                  />
                </div>
                <div class="col-md-3">
                  <input
                    [(ngModel)]="filterOptions.gender"
                    (input)="filterCharacters()"
                    placeholder="Gender"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let characters of filteredCharacters">
            <div class="col-md-4 mt-5">
              <div class="card mb-3">
                <img
                  src="{{ characters?.image }}"
                  alt="{{ characters.name }}"
                />
                <div class="card-body">
                  <h4>{{ characters.name }}</h4>
                  <p class="mb-0">
                    <strong>Status: </strong>{{ characters?.status }}
                  </p>
                  <p><strong>Species: </strong>{{ characters?.species }}</p>
                  <p><strong>Gender: </strong>{{ characters?.gender }}</p>
                </div>
                <div class="card-footer text-center w-100">
                  <button
                    class="btn btn-primary btn-sm"
                    [routerLink]="['/character-detail', characters.id]"
                  >
                    <i class="bi-arrow-right"></i>
                    <span class="card-detail-btn">Details</span>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>