<!-- <p>{{user.status}}</p>

<div class="" *ngFor="let pet of user">
	<ul >
		<li >{{pet.name}}</li>
		
	</ul>
	<img src="{{pet.image}}" alt="" width="100" height="50">
</div>
 -->

 <div class="container">
	<div class="row" id="search">
		<form id="search-form" action="" method="POST" enctype="multipart/form-data">
			<div class="form-group col-xs-9">
				<input class="form-control" type="text" placeholder="Search" />
			</div>
			<div class="form-group col-xs-3">
				<button type="submit" class="btn btn-block btn-primary">Search</button>
			</div>
		</form>
	</div>
	<div class="row" id="filter">
		<form>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="make" class="filter-make filter form-control">
					<option value="">Select Make</option>
					<option value="">Show All</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="model" class="filter-model filter form-control">
					<option value="">Select Model</option>
					<option value="">Show All</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="type" class="filter-type filter form-control">
					<option value="">Select Type</option>
					<option value="">Show All</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="price" class="filter-price filter form-control">
					<option value="">Select Price Range</option>
					<option value="">Show All</option>
				</select>
			</div>
		</form>
	</div>
	<div class="row" id="products">
		
	</div>
</div>

 <div class="container pt-100 mb-50">
    <div class="row">
      <div class="col-3">
        <div class="list-group">
          <button href="#"  class="list-group-item list-group-item-action"> Tüm Kategoriler</button>
        
        </div>
      </div>
      <div class="col-9">
          <div class="row">
              <ng-container *ngFor="let characters of character">
                  <div class="col-md-4">
                      <div class="card mb-3">
                          <img src="{{characters.image}}" alt="{{characters.name}}">
                          <div class="card-body">
                              
                                  <h4><a href="#">{{characters.name}}</a></h4>
                                  <small class="text-muted">
                                      <i class="fas fa-lira-sign"></i> {{characters.status}}
                                  </small>
                                  <small class="text-muted">
                                      <i class="fas fa-lira-sign"></i> {{characters.species}}
                                  </small>
                          </div>
                          <div class="card-footer text-center">
                              <button class="btn btn-outline-primary btn-sm" routerLink="/character-detail">Details</button>
                             
                          </div>
                      </div>
                  </div>
              </ng-container>
          </div>
      </div>
    </div>
  </div>