<div class="container pt-100 mb-5 mt-5">
  <div class="row">
    <div class="col-3">
      <div class="list-group card">
        <button href="#" class="list-group-item list-group-item-action" routerLink="/"><i class="bi-people"></i> Characters</button>

      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="container">
          <div class="container">
            <h5>Filter Characters</h5>
            <div class="row">

              <div class="col-md-3">
                <input [(ngModel)]="filterOptions.name" (input)="filterCharacters()" placeholder="Name">
              </div>
              <div class="col-md-3">
                <input [(ngModel)]="filterOptions.species" (input)="filterCharacters()" placeholder="Type">
              </div>

              <div class="col-md-3">
                <input [(ngModel)]="filterOptions.status" (input)="filterCharacters()" placeholder="Status">
              </div>
              <div class="col-md-3">
                <input [(ngModel)]="filterOptions.gender" (input)="filterCharacters()" placeholder="Gender">
              </div>
            </div>


          </div>

        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let characters of filteredCharacters">
          <div class="col-md-4 mt-5">
            <div class="card mb-3">
              <img src="{{characters?.image}}" alt="{{characters.name}}">
              <div class="card-body">

                <h4>{{characters.name}}</h4>
                <p class="mb-0">
                  <strong>Status: </strong>{{characters?.status}}
                </p>
                <p> <strong>Species: </strong>{{characters?.species}}</p>
                <p> <strong>Gender: </strong>{{characters?.gender}}</p>
              </div>
              <div class="card-footer text-center w-100">
                <button class="btn btn-primary btn-sm" [routerLink]="['/character-detail',characters.id]"><i class="bi-arrow-right"></i> <span class="card-detail-btn">Details</span></button>


              </div>

            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>